/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #f8f8f8;
    font-family: 'Nunito sans';
}