<div class="container">
    <div class="header">
        <h2>Agregar Material</h2>
        <p>Agrega un material para que este dispobible en el catalogo</p>
    </div>

    <div class="main-container">
        <div class="form">
            <div class="item">
                <label> Nombre </label>
                <input type="text" placeholder="nombre">
            </div>
            <div class="item">
                <label> Descripcion </label>
                <textarea name="description" ></textarea>
            </div>
            <div class="item">
                <label> Modelo </label>
                <input type="text" placeholder="modelo">
            </div>
        </div>
    </div>
</div>