<div class="container">
    <div class="header">
        Certificaciones
    </div>
    <div class="alert-container">
        <div class="alert-item ">
            <div class="alert-header">
                <h2>En orden</h2>
                <p class="success">Certificaciones que se encuentran vigentes</p>
            </div>
            <div class="count">
                <div class="count-text">
                    <label for="">Totales</label>
                    <p>123</p>
                </div>
                <div class="count-text">
                    <label for="">Proximas a vencer</label>
                    <p>15</p>
                </div>
            </div>
            <div class="note">
                <p>Proximo a vencer dentro de un periodo de 3 meses</p>
            </div>
            <div class="alert-icon success">
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                      </svg>
                </div>
            </div>
        </div>
        <div class="alert-item ">
            <div class="alert-header">
                <h2>Vencidas</h2>
                <p class="danger">Certificaciones que se encuentran vigentes</p>
            </div>
            <div class="count">
                <div class="count-text">
                    <label for="">Totales</label>
                    <p>12</p>
                </div>
                <div class="count-text">
                    <label for="">En progreso</label>
                    <p>1</p>
                </div>
            </div>
            <div class="note">
                <p>Certificaciones pendientes por renovar</p>
            </div>
            <div class="alert-icon danger">
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
                      </svg>
                </div>
            </div>
        </div>
    </div>
</div>