<div class="navbar">
    <div class="container">
        <div class="main-logo">
            <div class="logo">
                <img class="logo-img" src="../../../assets/images/logo prueba.png" alt="">
            </div>
            <div class="main-name">Cloud9</div>
        </div>
        <div class="user">
            <div class="user-name">OilWell Services</div>
            <div class="user-logo">
                <img class="user-img" src="../../../assets/images/oilwell logo.jpg" alt="">
            </div>
        </div>
    </div>
</div>